#divContainerLogin {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.returnHome {
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  padding: 1rem 0 0 1rem;
}

#homeButton {
  height: 60%;
  width: 2.5rem;
}

.loginLogoContainer {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.loginLogoContainer > img {
  height: 100%;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20rem;
}

.loginFormInputsContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 30%;
  width: 100%;
}

.loginFormInputsContainer > input {
  height: 35%;
  width: 100%;
  background: none;
  outline-style: none;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  color: #fff;
  transition: all 0.4s;
}

label {
  font-size: 0.9rem;
  transition: all 0.4s;
}

.loginFormInputsContainer > input:focus,
input:valid {
  border-color: #eb5e28;
}
.loginFormInputsContainer > input:focus + label,
input:valid + label {
  color: #eb5e28;
  font-size: 1rem;
}

#loginFormSendButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

#loginFormSendButtonContainer > button {
  height: 60%;
  width: 15rem;
  border: none;
  background-color: #eb5e28;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.4s;
}

#loginFormSendButtonContainer > button:hover {
  transform: scale(1.1);
}

.registerOptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30%;
  width: 100%;
}

.registerOptionContainer>span{
  font-size: 1.2rem;
}

.registerLink{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 1px solid white;
  height: 20%;
  width: 10rem;
}
