#divContainerLogin {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.returnHome {
  box-sizing: border-box;
  height: 10%;
  width: 100%;
  padding: 1rem 0 0 1rem;
}

#homeButton {
  height: 60%;
  width: 2.5rem;
}

.loginLogoContainer {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.loginLogoContainer > img {
  height: 100%;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20rem;
}

.loginFormInputsContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 30%;
  width: 100%;
}

.loginFormInputsContainer > input {
  height: 35%;
  width: 100%;
  background: none;
  outline-style: none;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  color: #fff;
  transition: all 0.4s;
}

label{
    font-size: .9rem;
    transition: all 0.4s;
}

.loginFormInputsContainer > input:focus,
input:valid {
  border-color: #eb5e28;
}
.loginFormInputsContainer > input:focus + label,
input:valid + label {
  color: #eb5e28;
  font-size: 1rem;
}
